* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
  }
  
.container {
    width: 100%;
    max-width: 750px;
    min-width: 500px;
    min-height: 350px;
    margin: 0 auto;
    /* padding: 2em 1em; */
  }
.section{
    padding: 6rem 0;
  }
.bg-pink{
    /* background-color:#3161E0; */
}
.bg-jumbotron{
      background-color: #3161E0;
      background-image: url(../img/jumbo.png);
      background-size: cover;
  }
.bg-gray{
      background-color: lightgray;
  }
.bg-gray-plus{
    background-color: lightgray;
}
.section-header{
    background-color: #3161E0;
    width: 100%;
    min-height: 60px;
    min-width: 500px;
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 15px;
    
}
.col-left{
    background-color: #3161E0;
    display: inline-block;
    min-width: 350px;
    min-height: 30px;
    /* border: 1px solid black; */
}
.col-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3161E0;
    min-width: 350px;
    min-height: 30px;
}
.col-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 700px;
    /* border: 1px dashed red; */
    text-align: center;
    color: white;
}
.button{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
}
.bg-white{
    background-color: white;
    color: black;
    padding: 15px;
    display: inline-block;
    font-size: 25px;
}
.bg-black{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 15px;
    font-size: 24px;
    margin-left: 25px;

}
.title{
    text-align: center;
    font-size: xxx-large;
    color: white;
    
}
.subtitle{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    min-width: 735px;
    margin: 1em auto;
    text-align: left;
    line-height: 1.5;
    font-size: 20px;
}
.flex-center{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.d-flex{
    display: flex;
    flex-direction: row-reverse;
}
.square-small{
    padding: 25px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-grow: 2;
    min-height: 300px;
    min-width: 390px;
}
.title-paragraph{
    padding: 10px;
    font-size: xx-large;
    min-width: 350px;
}
.min-width{
    min-width:700px;
}
.paragraph{
    font-size: 20px;
    padding: 10px;
    min-width: 350px;
}
.square-large{
    padding: 10px;
    flex-grow: 4;
    min-height: 300px;
}
.bg-green{
    background-color: #228B22;
    width: 100%;
    max-width: 960px;
    min-width: 500px;
    min-height: 700px;
    margin: 0 auto;
}
.no-reverse{
    flex-direction: row;
}
.bg-dark{
    background-color: black;
    
}
.square-footer{
    width: 100%;
    max-width: 960px;
    min-width: 319px;
    min-height: 550px;
    margin: auto;
    flex-direction: column;
    background-color: aquamarine;
    border:1px dashed red
}
.square-1{
    background-color: #542358;
    
}
.container-log-footer{
    max-width: 1099px;
    min-width: 379px;
    min-height: 100px;
    margin: 20px auto;
    background: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-footer{
    margin-bottom: 20px;
}
.log{
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    width: 70px;
    height: 30px;
    background-color: #EE82EE;
}
.button-footer{
    width: 70px;
    height: 30px;
    background-color: #EE82EE;
}